{
  "presets": [
    [
      "es2015", { "modules": false }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "external-helpers",
    "transform-regenerator",
    "syntax-async-functions",
    "transform-runtime"
  ]
}
