.panelHeader {
    height: 62px;
    background-color: #5598D6;
    color: #F7F7F8;
}

.sectionHeader {
    transition: background-color 0.5s ease;
    height: 46px;
    width: 100%;
    font-family: 'PressStart2P-Regular', 'Press Start 2P', cursive;
    color: #F7F7F8;
    background-color: #CCCCCC;
    position: relative;
    z-index: 1000;
    box-shadow: none;
}

.sectionHeaderWithData {
    background-color: #EF4823;
}

.sectionHeader:hover {
    box-shadow: inset 0 0 0 0 grey, 2px 1px 3px 1px gray;
}

.sectionHeader:active {
    box-shadow: inset 4px 4px 8px 0 rgba(23, 23, 23, 0.31), 0 0 0 0 rgba(62, 62, 62, 0.27);
    background-color: #d53410;
}
