.panelHeader {
    height: 62px;
    background-color: #5598D6;
    color: #F7F7F8;
}

.sectionHeader {
    height: 46px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #F7F7F8;
    background-color: #CCCCCC;
    position: relative;
    z-index: 1000;
    box-shadow: none;
}

.sectionHeaderWithData {
    background-color: #EF4823;
}

.sectionHeaderWithData:hover {
    cursor: pointer;
}

.sectionHeaderWithData:active {
    box-shadow: inset 4px 4px 8px 0 rgba(23, 23, 23, 0.31), 0 0 0 0 rgba(62, 62, 62, 0.27);
    background-color: #d53410;
}
