.headerText {
    vertical-align: middle;
    line-height: 42px;
}

.headerLabel {
    composes: headerText;
    padding-left: 24px;
    font-size: 16px;
}

.headerCount {
    composes: headerText;
    padding-left: 17px;
    font-size: 18px;
}

.headerChevron {
    composes: headerText;
    font-size: 12px;
    opacity: 0.602128623;
    font-family: FontAwesome, sans-serif;
    margin-left: 10px;
    width: 12px;
}
