.helpContainer {
    width: 500px;
    height: 350px;
    line-height: 36px;
    font-size: 14px;
    font-family: 'OpenSans', sans-serif;
    color: #000000;
    display: block;
}

.helpPanelText {
    float: left;
    padding-left: 25px;
}

.helpPanelText a {
    color: #000000;
}

.copywriteBlock {
    width: 475px;
    display: block;
    position: absolute;
    bottom: 24px;
    color: #000000;
}

.copywrite {
    text-align: center;
}
