.frame {
    all: unset;
    height: 100%;
    width: 500px;
    transition: transform 0.4s ease, box-shadow 0.6s ease;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999999;
    background-color: black;
    overflow-y: scroll;
}

.collapsedFrame {
    composes: frame;
    box-shadow: 0 0 0;
    transform: translateX(500px);
}

.expandedFrame {
    composes: frame;
    box-shadow: -1px 0 15px #4c4c4c;
    transform: translateX(0);
}
