.licenseStatus {
    composes: statusBar from './common/rows.css';
    background-color: #4A4A4A;
}

.licenseText {
    line-height: 36px;
    font-size: 10px;
    font-family: 'PressStart2P-Regular', 'Press Start 2P', cursive;
    color: #FFFFFF;
}

.nameLabel {
    composes: licenseText;
    float: left;
    padding-left: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 275px;
}

.nameLabel a {
    color: #FFFFFF;
    text-decoration: none !important;
}

.sharingLabel {
    composes: licenseText;
    float: right;
    padding-right: 16px;
    color: #FFFFFF;
}

.sharingLabel a {
    color: #FFFFFF;
    text-decoration: none !important;
}
