.licenseRow {
    composes: row from './common/rows.css';
    margin: 0;
}

.licenseRow:last-child {
    margin: 0 0 4px 0;
}

.licenseStatus {
    composes: statusBar from './common/rows.css';
    background-color: #4A4A4A;
}

.licenseText {
    line-height: 36px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.nameLabel {
    composes: licenseText;
    float: left;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 275px;
}

.nameLabel a {
    color: #4A4A4A;
    text-decoration: none !important;
}

.sharingLabel {
    composes: licenseText;
    float: right;
    padding-right: 10px;
}

.sharingLabel a {
    color: #4A4A4A;
    text-decoration: none !important;
}
