@import url('https://fonts.googleapis.com/css?family=Open+Sans:normal,400,bold');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html,
body {
    margin: 0;
    height: 100%;
    overflow: scroll;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
}
.header {
    height: 62px;
    width: 100%;
    background-color: #000000;
}

.input {
    border: 0;
    padding: 5px;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
}

.credential-input {
    background-color: transparent;
    color: #000000;
    border-bottom: 2px gray solid;
    margin-top: -17px;
    font-family: OpenSans, Open San;
    display: block;
    position: absolute;
    float: right;
}

.login-title {
    color: #000000;
    text-align: center;
    margin: 41px 0 0 0;
}

.login-form {
    margin: 27px 50px 0 50px;
}

.origin-label {
    margin: 0;
}

#origin {
    background-color: #D8D8D8;
    font-family: 'OpenSans', sans-serif;
    height: 36px;
    width: 100%;
    font-size: 12px;
    margin: 14px 0 0 0;
}

#origin.input-error {
    border: 2px red solid;
}

.username-label {
    display: block;
    margin: 49px 0 0 0;
}

#username {
    margin-left: 121px;
    width: 279px;
}

.credential-input.input-error {
    border-bottom: 2px red solid;
}

.password-label {
    display: block;
    margin: 31px 0 0 0;
}

.copywrite-block {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 24px;
    color: #000000;
}

.copywrite {
    text-align: center;
}

#password {
    margin-left: 121px;
    width: 279px;
}

.submit-link {
    text-decoration: none;
    color: #000000;
    float: right;
    margin-top: 49px;
}

.submit-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#error {
    height: 0;
    margin-top: 27px;
    text-align: center;
    line-height: 75px;
    color: #FFFFFF;
    background-color: #FF0000;
    transition: height 0.1s ease;
}

#error.active {
    height: 75px;
    border: 1px #FF0000 solid;
}
