.logoImage {
    height: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.taglineText {
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px;
    font-family: 'OpenSans', sans-serif;
    font-weight: normal;
}

.logoBlock {
    height: 42px;
    padding: 10px;
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: bold;
    font-size: 19px;
    background-color: #000000;
}
