.menuBlock {
    height: 60px;
    display: flex;
    width: 60%;
    margin-left: 25px;
}

.menuItem {
    height: 100%;
    width: 84px;
    text-align: center;
    vertical-align: middle;
    line-height: 12px;
    font-size: 14px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    cursor: pointer;
}

.clickableMenuItem {
    margin-top: 8%;
    margin-bottom: 1px;
}

.selectionBar {
    transition: background-color 0.3s ease;
    width: 84px;
    height: 100%;
    padding-top: 10px;
    display: inline-block;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #FFFFFF;
    cursor: pointer;
}

.selectedBar {
    composes: selectionBar;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #1194F6;
}

.unselectedBar {
    composes: selectionBar;
    transition: background-color 0.3s ease, border-top-color 0.3s ease;
    background-color: transparent;
}

.unselectedBar:hover {
    border-top-color: rgba(17, 148, 246, 0.41);
}
