.menuBlock {
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 21%;
    margin-left: 10px;
}

.menuItem {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 12px;
    font-size: 14px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    cursor: pointer;
}

.selectedBar .menuItem {
    color: #5598D6;
}

.clickableMenuItem {
    margin-top: 9%;
    margin-bottom: 1px;
}

.selectionBar {
    transition: background-color 0.3s ease;
    height: 100%;
    padding-top: 7px;
    display: inline-block;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #FFFFFF;
    cursor: pointer;
}

.selectedBar {
    composes: selectionBar;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #5598D6;
}

.unselectedBar {
    composes: selectionBar;
    transition: background-color 0.3s ease, border-top-color 0.3s ease;
    background-color: transparent;
}

.unselectedBar:hover {
    border-top-color: rgba(17, 148, 246, 0.41);
}
