@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.projectLabel {
    color: white;
    margin-left: 17px;
    line-height: 38px;
    font-family: 'PressStart2P-Regular', 'Press Start 2P', cursive;
    font-size: 12px;
}

.versionLabel {
    color: white;
    margin-left: 10px;
    font-family: 'PressStart2P-Regular', 'Press Start 2P', cursive;
    font-size: 12px;
}
