.projectLabel {
    color: white;
    margin-left: 10px;
    line-height: 62px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none !important;
}

.versionLabel {
    line-height: 62px;
    color: white;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none !important;
}
